body{
  background-color: #8EC5FC;
  background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
  
}
  
  .container-todo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: cursive;
   
  }
  .Heading{
    text-align: center;
    color: #218838;
  }
  
  .todo-app {
    width: 90%;
    max-width: 550px;
    height: 600px;
    background: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /*position: relative;*/
    border: #218838 1px solid;
    font-family: cursive;
    overflow-y: scroll;
  }
  
  .todo-input-container {
   /* position:absolute;
    bottom: 30px;*/
    display: flex;
    width: 30%;
    margin-top: 15px;
    
    
  }
  
  .todo-input {
    width: 700px;
    padding:0px 10px;
    font-size: 16px;
    border: #218838 1px solid;
    border-radius: 5px ;
    font-family: cursive;
    cursor: pointer;
  }
  
  .todo-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    border-radius: 5px ;
    font-family: cursive;
  }
  
  .todo-button:hover {
    background-color: #218838;
  }
  .select-category{
  margin: 0px 10px;
  padding: 10px;
  font-size: 16px;
  border: #218838 1px solid;
  border-radius: 5px;
  font-family: cursive;
  cursor: pointer;

  }
 
  
  
  
  @media (max-width: 320px) {
    .todo-app {
      width: 100%;
      padding: 10px;
      height: 360px;
    }
  
    .todo-input-container {
      width: 100%;
      flex-direction: column;
      align-items: stretch;
    }
  
    .todo-input {
      width: 100%;
      height: 35px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  
    .select-category {
      width: 100%;
      height: 40px;
      margin-bottom: 10px;
      font-size: 14px;
    }
  
    .todo-button {
      width: 100%;
      font-size: 14px;
    }
  }